html {
    font-family: 'Lato';
    line-height: 20px;
    font-size: 16px;
    color: #101c2d;
    background-color: #efefef;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
}

a.active, a:hover, a {
    color: #323232;
    text-decoration: none;
}

.row {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
    position: relative;
}

.row-lg {
    max-width: 991px;
    margin-left: auto;
    margin-right: auto;
}

.row:before, .row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

.col {
    float: left;
    padding: 0;
    width: 100%;
}

.n-m-p-h{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0!important;
    padding-right: 0!important;
}

.row h4 {
    margin-bottom: 0;
    margin-top: 5px;
}

.row p {
    margin: 5px 0 10px;
}

.text-centre {
    text-align: center;
}

.avatar-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 165px;
    height: 165px;
}

.avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.name {
    display: inline-block;
    width: 165px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.social-icon{
    font-size: 35px;
    margin-left: 20px;
    margin-right: 0;
    line-height: 40px;
}

section {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #333;
}

.skills, .sides, .projects, .languages {
    font-size: 1.15em;
}

.facebook-color, .facebook-color:hover, .facebook-color:active, .facebook-color:focus {
    color: #3a5795;
}

.linkedin-color, .linkedin-color:hover, .linkedin-color:active, .linkedin-color:focus  {
    color: #006fa6;
}

.vk-color, .vk-color:hover, .vk-color:active, .vk-color:focus  {
    color: #607387;
}

.title {
    display: inline-block;
    width: 165px;
    text-align: center;
    margin-top: 0 !important;
}

.row.n-m-p-h{
    padding-top: 0!important;
}

@media all and (min-width: 768px) {
    .half-sm {
        width: 50%;
    }

    .head-left{
        margin-top: 67px;
    }
    .row{
        padding: 20px 60px;
    }
    .col{
        padding: 0 20px;
    }
    .projects .n-m-p-h p {
        margin-right: 20px;
    }
}
